a mat-card:hover {
  box-shadow: 0 5px 9px rgba(0, 0, 0, 0.5); 
  transform: scale(1.10); 
}
a {
    text-decoration: none;
  } 
.example-header-image {
    width: 125%;
    background-size: auto;
  }

