<div *ngIf="user" class="row">
    <div class="col-md-3">
      <img class="img-fluid" src="https://robohash.org/{{user.id}}?200x200" alt="User image">
    </div>
    <div class="col-md-10">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">{{user.nome}}</h5>
          <p class="card-text">Mansione: {{user.descrizione}}</p>
          <button mat-mini-fab color="warn" (click)="delete(user)">
            <mat-icon>delete</mat-icon>
          </button>
          
        </div>
      </div>
    </div>
  </div>
  
  <div *ngIf="!user">
    <h1>Utente inesistente</h1>
  </div>